<!-- left-menu.component.html -->
<div class="header">
    <!-- Add your branding logo here -->
    <img src="assets/logo.png" alt="Brand Logo" class="brand-logo">

    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/home"><i class="fas fa-eur"></i> Budget</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contact"><i class="fas fa-envelope"></i> Mail</a>
            </li>
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/about"><i class="fas fa-info-circle"></i> About</a>
            </li>
        </ul>
    </div>
</div>
       
